/* line 1, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/custom.scss */
#emrah {
  background-color: black;
}

/* line 4, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/custom.scss */
.navbar-brand {
  background-color: #b80b03;
}

/* line 8, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/custom.scss */
#navbarSupportedContent {
  background-color: #b80b03;
}

/* line 12, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/custom.scss */
.collapse .navbar-collapse {
  background-color: #b80b03;
}
/* line 5, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/restaurants.scss */
.jumbotron {
  background-color: #fdf8e1;
  border: 1px solid #f2cb3c;
}
/* line 8, /Users/emrahakgul/Desktop/mycustomyelp/app/assets/stylesheets/restaurants.scss */
.jumbotron h2 {
  color: #c41200;
  font-weight: bold;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

